<div ng-include="'partials/navbar'"></div>

<div class="row">
  <div class="col-md-4">
    <form role="form">
      <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" placeholder="Enter Title" ng-model="title">
        <label for="StartDate">Start Date</label>
        <input type="text" class="form-control" id="StartDate" placeholder="Start Date" ng-model="start">
        <label for="EndDate">End Date</label>
        <input type="text" class="form-control" id="StartDate" placeholder="End Date" ng-model="end">
      </div>
      <button type="button" class="btn btn-info pull-right" ng-click="addEvent(title,start,end)">Add Recipe</button>
    </form>
    <h3>Recipes</h3>
    <ul>
      <li ng-repeat="recipe in awesomeThings"><a href="{{recipe.url}}" target="_blank">{{recipe.title}}</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <div ui-calendar="" ng-model="eventSources"></div>
  </div>
</div>