<div ng-include="'partials/navbar'"></div>

<div class="alert alert-success" ng-show="alertMessage">{{alertMessage}}</div>
<div class="row">
  <div class="col-md-4">
    <form role="form">
      <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" placeholder="Enter Title" ng-model="title">
        <label for="Url">Url</label>
        <input type="text" class="form-control" id="Url" placeholder="Enter Url" ng-model="url">
        <label for="Date">Date</label>
        <input type="text" class="form-control" id="Date" placeholder="Enter Date" ng-model="date">
      </div>
      <button type="button" class="btn btn-info pull-right" ng-click="addEvent(title,url,date)">Add Recipe</button>
    </form>
    <h3>Recipes</h3>
    <ul>
      <li ng-repeat="recipe in awesomeThings"><a href="{{recipe.url}}" target="_blank">{{recipe.title}}</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
  </div>
</div>